<%- model_class = Location -%>
<% [:notice, :error, :alert].each do |level| %>
  <% unless flash[level].blank? %>
    <div class="alert-error">
      <a class="close" href="/locations">×</a>
      <%= content_tag :p, flash[level] %>
    </div>
  <% end %>
<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag 'upload' %>
<% end %>
<div class="content" style="width:100%">
<div class="progress progress-striped active">
  <div class="bar" style="width:  <%=@dynamic_locations_size%>%"; id = "bar"></div>
</div>
<div id='users-counter'>
  <%= @dynamic_locations_size %>
</div>

  <div class="form_ind"><%= form_for :dump, :remote => true, :url => {:controller => "locations",
                                                     :action => "index"}, :method => "POST", :html => {:multipart => true} do |f| %>
      Select an Excel File :
        <%= f.file_field :excel_file %>
        <%= submit_tag 'Upload', class: 'btn btn-primary index_button' %>
    <% end %>

    <%#= link_to t('.Add manually', :default => t("helpers.links.Add manually")),
                new_location_path,
                :class => 'btn btn-primary  ' %></div>
  </br>
 <!--<div id = "locations"><%#= render 'locations'%></div>-->
<div id = "myGrid">
  <table id="list"></table>
  <div id="pager"></div>
</div>

</div>